:root {
    --color-principal: #64DCC4; /* Verde brillante */
    --color-acento: #FFA500; /* Naranja brillante */
    --color-fondo: #0C3B6E; /* Azul oscuro */
    --color-texto: #FFFFFF; /* Blanco */
}

header {
    background-color: rgb(12, 59, 110);
    color: var(--color-texto);
    padding: 10px;
    text-align: center;

    position: sticky;
    top: 0;
    border-bottom: 1px solid #ddd;
    z-index: 1;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff; /* Texto blanco para contraste */-->
}

main {
    margin-top: 20px; /* Ajusta según sea necesario */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

footer {
   <!-- background-color: #333;-->
    background-color: var(--color-principal);
    color: var(--color-texto);
    <!--color: white;-->
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
    width: 100%;
}

section{
    margin: 0 auto; /* Ajusta según sea necesario */
    width: 80%;
}

section#acerca {
    text-align: center;
    font-size: 30px;
}

section#acerca h2 {
    font-size: 2em; /* Ajusta el tamaño según prefieras */
}

section#acerca img {
    max-width: 200px; /* Ajusta el tamaño de la imagen */
    height: 200px;
    margin: 0 auto; /* Centra la imagen */
}


img {
    border-radius: 20px; /* Ajusta este valor según el grado de redondeo deseado */
}

h2 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px; /* Ajusta este valor según el espacio deseado */
}
ul, ol {
    text-align: center;
    list-style-position: inside;
}

.centered-section {
    position: relative;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-acento);
    color: var(--color-texto);
    <!--background-color: #007BFF; /* Color de fondo del botón */
    color: white; /* Color del texto */-->
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px; /* Hace que los bordes sean redondeados */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Transición suave */
}

.button:hover {
    transform: scale(1.05); /* Aumenta el tamaño en un 5% al pasar el cursor */
    opacity: 0.8; /* Reduce la opacidad para crear un efecto de profundidad */
}

.proyecto-tarjeta {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px 20px 30px;
    padding: 20px;
    width: calc(33.333% - 40px); /* Ajusta el ancho según sea necesario */
    float: left;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    /*box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total */
    overflow: hidden; /* Evita que el contenido se desborde */
}

.proyecto-tarjeta img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ver-mas {
    display: inline-block;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.ver-mas:hover {
    background-color: #0056b3;
}

.icon:hover {
    transform: scale(1.1); /* Aumenta el tamaño del icono al pasar el cursor */
    transition: transform 0.3s ease-in-out; /* Transición suave */
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espacio entre elementos */
}

.icon-container img {
    width: 100px; /* Ajuste el tamaño según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
    transition: opacity 0.5s ease; /* Transición suave para la animación */
}

.icon-container img:hover {
    opacity: 0.7; /* Reduce la opacidad al pasar el cursor */
}

.social-icon {
    width: 32px; /* Tamaño del ícono */
    height: 32px; /* Altura del ícono */
    margin: 10px; /* Espaciado alrededor del ícono */
    border-radius: 50%; /* Hace que el ícono sea circular */
    display: inline-block; /* Permite agrupar los íconos horizontalmente */
    vertical-align: middle; /* Alinea los íconos verticalmente en el centro */
    transition: transform 0.3s ease; /* Transición suave para el hover */
}

.img1 {
    max-width: 100px;
    max-height: 100px;
    transition: transform 0.3s ease-in-out;
}

.img1:hover {
    transform: scale(4.2);
}

video{
    max-width: 200px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.section-move {
    animation: slideFadeInFromLeft 0.5s ease-out forwards;
}

.icon img{
    width: 24px;
    height: auto;
}

/* Ejemplo de animación para el primer icono */
.ani1 {
    animation: spin 2s linear infinite;
}

/* Define otras animaciones para los demás iconos */
.ani2 {
    animation: bounce 2s linear infinite;
}

.ani3 {
    animation: pulse 2s linear infinite;
}

/* Definición de las animaciones */
@keyframes spin {
    0% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-30px); }
    60% { transform: translateY(-15px); }
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@media (max-width: 768px) {
    .proyecto-tarjeta {
        /*flex-basis: 100%;*/
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    /* Estilos específicos para teléfonos móviles */
    nav ul li {
        display: block; /* Cambia la lista de navegación a una disposición vertical */
        margin: 10px 0; /* Añade margen para separar los elementos de la lista */
    }

    .icon-container img {
        width: 70px; /* Reduce el tamaño de los iconos en pantallas pequeñas */
    }

    body {
        font-size: 0.9rem; /* Reduce el tamaño de la fuente en pantallas pequeñas */
    }
    .proyecto-tarjeta p {
        font-size: 14px; /* Reduce el tamaño del texto dentro de las tarjetas */
    }
    .proyecto-tarjeta {
        width: calc(33.333% - 40px);
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    /* Estilos específicos para tablets */
    .proyecto-tarjeta {
        /*flex-basis: 48%; /* Dos tarjetas por fila en tablets */
        width: calc(50% - 20px); /* Dos tarjetas por fila en tablets, con un pequeño margen */
    }
}

@keyframes slideFadeInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
